In [1]:
import pandas as pd

spam_data = pd.read_csv("spam.csv", encoding='latin1')

spam_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
spam_data = spam_data[['v1', 'v2']]
spam_data.columns = ['target', 'message']

spam_data.head()

  target                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [43]:
from sklearn.model_selection import train_test_split

X = spam_data['message']  # Nachrichten
y = spam_data['target']    

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3)
 

print(f"X_train: {X_train.shape}, y_train: {y_train.shape}")
print(f"X_valid: {X_valid.shape}, y_valid: {y_valid.shape}")

X_train: (3900,), y_train: (3900,)
X_valid: (1672,), y_valid: (1672,)

In [45]:
X_train

1233                   Lol ok. I'll snatch her purse too.
4076    Hey sathya till now we dint meet not even a si...
1655                               At 7 we will go ok na.
603                Be happy there. I will come after noon
3349    Sorry i cant take your call right now. It so h...
                              ...
4183    I just really need shit before tomorrow and I ...
417     FREE entry into our å£250 weekly competition j...
3240      Ok i've sent u da latest version of da project.
2433    Indians r poor but India is not a poor country...
1119    Bored of speed dating? Try SPEEDCHAT, txt SPEE...
Name: message, Length: 3900, dtype: object