# Exploring and Processing Data

In [59]:
import re
import pandas as pd

tweets=[    
    'This is introduction to NLP',
    'It is likely to be useful, to people ',
    'Machine learning is the new electrcity', 
    'There would be less hype around AI and more action going forward',
    'python is the best tool!','R is good langauage',
    'I like this book','I want more books like this' 
]

## 3.2

In [81]:
tweets_lowercase = [tweet.lower() for tweet in tweets]

df = pd.DataFrame(tweets_lowercase, columns=['tweets'])

df

                                              tweets
0                        this is introduction to nlp
1              it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

## 3.3

In [79]:
tweets_no_punctuation = [re.sub('[^\\w\\s]', '', tweet) for tweet in tweets_lowercase]

df = pd.DataFrame(tweets_no_punctuation, columns=['tweets'])

df

                                              tweets
0                        this is introduction to nlp
1               it is likely to be useful to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                            python is the best tool
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

In [77]:
text = "This is the first sentence. This is the second one."  
list_of_words = text.split()  
list_of_words

['This',
 'is',
 'the',
 'first',
 'sentence.',
 'This',
 'is',
 'the',
 'second',
 'one.']

In [92]:
import nltk
from nltk.tokenize import word_tokenize 
text="Hello there! Welcome to the programming world." 
print(word_tokenize(text))

['Hello', 'there', '!', 'Welcome', 'to', 'the', 'programming', 'world', '.']

## 3.5

In [97]:
df['tokenized'] = df['tweets'].apply(word_tokenize)
df

,tweets,tokenized
0,this is introduction to nlp,"[this, is, introduction, to, nlp]"
1,"it is likely to be useful, to people","[it, is, likely, to, be, useful, ,, to, people]"
2,machine learning is the new electrcity,"[machine, learning, is, the, new, electrcity]"
3,there would be less hype around ai and more ac...,"[there, would, be, less, hype, around, ai, and..."
4,python is the best tool!,"[python, is, the, best, tool, !]"
5,r is good langauage,"[r, is, good, langauage]"
6,i like this book,"[i, like, this, book]"
7,i want more books like this,"[i, want, more, books, like, this]"